mixin flow-key-marker(img, title, text)
    .flow-key-markers__block
        img.mb-24(src= img, alt="Flow key marker image")
        h3.semi-bold.mb-24= title
        p= text


html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./stylesheets/style.css", type='text/css')
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap", rel="stylesheet")
        title Science Page
    body
        .hero-container.ptb-90.text-center.text-white.mb-48
            #a1
            .max-8.center
                #a2
                h1.mb-40 Find your 'Flow' with IRIS
                p.mb-32   You know the moment when you feel ‘in the zone’?
                    br
                    br
                    | Everything is clicking - you are focused, fully absorbed in what you are doing. Time flies by, and you find the experience so rewarding, and positive. You feel that you were simply at your best. But you can’t quite put your finger on how you got there?
                p.mb-48.semi-bold Psychologists tell that you’re in the ‘flow state’ and IRIS has created the tech helping you to get there - through immersive sound.
            .flex-row.align-center.justify-around.max-4.center
                img(src="/imgs/joydeep.jpg", alt="Photo of Professor Joydeep Bhattacharya")
                .hero-signoff__text
                    p.bold Professor J Bhattacharya
                    img(src="/imgs/Goldsmiths-Logo.png", alt="")
        .flex-row.align-center.justify-between.max-10.center.card.text-dark-teal
            #a3.animation-container
            .max-4
                h2.mb-24 What is 'flow' state?
                p   Imagine for a moment that you are running a race. Your attention is focused on the movements of your body, the power of your muscles, and the force of your lungs. 
                    br
                    br
                    | You are living in the moment, utterly absorbed in the present activity. You’re ‘In Flow’ - a state of complete immersion in an activity.
        .flex-row.align-center.justify-between.max-10.center.card.card--reverse.text-dark-teal
            #a4.animation-container
            .max-4
                h2.mb-24 IRIS enables flow
                p IRIS sound technology activates this potential by engaging your brain through active listening - sound that connects and stimulates biology - enabling you to find your ‘flow’.

        .flex-row.align-center.justify-between.max-10.center.card.text-dark-teal
            #a5.animation-container
            .max-4
                h2.mb-24  IRIS neurological benefits 
                p   This immersive sound experience brings neurological benefits; your experience of music and entertainment, your mental wellbeing and your performance levels.
        .video-container.text-center
            h2 How IRIS enables flow state
            p IRIS algorithm splits out and increases the phase information sent to the brain.
        h2.flow-bother-title.text-center.mb-48.text-dark-teal Why should I bother with flow?
        .flow-bother-card.text-center.text-dark-teal
            .flow-bother-card__img-container
                img.mb-40(src="/imgs/flow_bother_1.png", alt="")
            h3.mb-40 Activity is much more rewarding in flow
            p.center.max-8 Flow is related to dopamine, a key neurochemical relevant for learning and reward. The release of endorphins and other neurochemicals during flow state further makes the activity extremely rewarding.
        .flow-bother-card.text-center.text-dark-teal
            .flow-bother-card__img-container
                img.mb-40(src="/imgs/flow_bother_2.png", alt="")
            h3.mb-40 We return to what we enjoy
            p.center.max-8 As we are pleasure seeking species, performing in flow state is one of the best ways to indulge this side of our personalities, making our desire to return to this state strong
        .flow-bother-card.text-center.text-dark-teal
            .flow-bother-card__img-container
                img.mb-40(src="/imgs/flow_bother_3.png", alt="")
            h3.mb-40 Supports learning
            p.center.max-8 When we are fully focused and engaged in an activity, we are able to digest more information but with effortless attention, and return to the activity more successfully, therefore increasing our memory retention in the process. Research shows that students who have higher flow experience tend to show higher learning performances.
        .flow-bother-card.text-center.text-dark-teal
            .flow-bother-card__img-container
                img.mb-40(src="/imgs/flow_bother_4.png", alt="")
            h3.mb-40 Peak experience
            p.center.max-8 Flow is related to peak experience and optimal performance, psychological states of intensely positive, blissful feelings and personal fulfilment.
        h2.text-center.mtb-80 What are the key markers of flow?
        .flow-key-markers__container.text-center.mlr-30
            +flow-key-marker("/imgs/flow_marker_1.png", "Challenge-skill balance", "Feeling competent to meet the current challenge")
            +flow-key-marker("/imgs/flow_marker_2.png", "Clear feedback", "Knowing precisely how well we are doing")
            +flow-key-marker("/imgs/flow_marker_3.png", "Loss of self-consciousness", "Not worrying what others will think of us")
            +flow-key-marker("/imgs/flow_marker_4.png", "Action-awareness merging", "Attention comes effortlessly without thinking")
            +flow-key-marker("/imgs/flow_marker_5.png", "Intense concentration", "Being utterly focused on the task")
            +flow-key-marker("/imgs/flow_marker_6.png", "Time distortion", "Not being aware that the time flew by")
            +flow-key-marker("/imgs/flow_marker_7.png", "Clear goals", "Having a clear sense of what we want to do")
            +flow-key-marker("/imgs/flow_marker_8.png", "Sense of control", "A feeling of total control over the task")
            +flow-key-marker("/imgs/flow_marker_9.png", "Intrinsic rewards", "Feeling the whole experience to be extremely positive")
        .iris-impact-container
            img(src="/imgs/iris_impact.png", alt="")
            div
                h2 How IRIS impacts our experience, brain and heart?
                p We have a richer, absorbing and more fulfilling experience listening to music with IRIS than we do without it.
        h2.mtb-80.max-50.center IRIS stimulates our brain – boosting high frequency brain waves (beta, gamma, higher gamma)
        .wave-container.flex-row.justify-between.mlr-10.mb-80
            div
                .wave-container__titles.flex-row.justify-around
                    p.active(data-wave="beta") Beta wave <br> (13-30Hz)
                    p(data-wave="gamma") Gamma wave <br> (30-48Hz)
                    p(data-wave="upper-gamma") Upper gamma <br> wave (52-80Hz)
                img.active(src="/imgs/beta_wave.jpg", alt="", data-wave="beta")
                img(src="/imgs/gamma_wave.jpg", alt="", data-wave="gamma")
                img(src="/imgs/upper_gamma_wave.jpg", alt="", data-wave="upper-gamma")
            .flex-row.align-center.justify-center.max-40.text-left 
                .wave-container__text.active(data-wave="beta")
                    h3 Beta wave (13-30Hz)
                    p Beta wave (13-30 Hz) is dominant in our waking state and is active when undertaking cognitive tasks. Beta wave is enhanced when we are alert, attentive and engaged in demanding task, making decisions or trying to focus.
                .wave-container__text(data-wave="gamma")
                    h3 Gamma wave (30-48 Hz)
                    p Gamma wave (30-48 Hz) is associated with alert mental states, active information processing and binding information together in the brain. Gamma wave is enhanced by attention, memory and focus.
                .wave-container__text(data-wave="upper-gamma")
                    h3 Upper gamma wave (52-80 Hz)
                    p Upper gamma wave (52-80 Hz) is less studied but is supposed to be associated with higher cognitive functions such as working memory, language processing, and also suppressing distractions.
        div
            .improve-container
                .improve-container__title
                    h3 IRIS improves motivation and engagement 
                .improve-container__text
                    p A higher frontal alpha asymmetry (a neural marker representing approach/withdrawal model of emotion) for IRIS suggests a state with an increased motivational and engagement. 
                .improve-container__image
                    img(src="/imgs/iris_improve_1.png", alt="")
            .improve-container
                .improve-container__title
                    h3 IRIS improves cardiac health 
                .improve-container__text
                    p Heart rate variability (HRV) is the variation in the time between consecutive heartbeats in milliseconds. IRIS is found to boost HRV, and an increased HRV is connected to reduced mortality and an overall improvement in cardiac health.
                .improve-container__image
                    img(src="/imgs/iris_improve_2.png", alt="")
            .improve-container.improve-container__relax
                .improve-container__title
                    h3 IRIS induces relaxation 
                .improve-container__text
                    p A lower heart rate is an essential factor in maintaining healthy heart rhythm. IRIS leads to a reduction of heart rate, and a lower heart rate is a key marker of a more relaxed state.
                .improve-container__image.improve-container__image-relax
                    img(src="/imgs/iris_improve_3.png", alt="")
        video(src="/videos/video_1.mp4" width="100%" height="auto" controls)
        //- .glide
        //-     .glide__track(data-glide-el="track")
        //-         ul.glide__slides
        //-             li.glide__slide 0
        //-             li.glide__slide 1
        //-             li.glide__slide 2
        //-     .glide__arrows(data-glide-el="controls")
        //-         button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
        //-         button.glide__arrow.glide__arrow--left(data-glide-dir=">") next
        .experience-container.bg-teal.color-white
            h2 Experiences with flow reinforced through case studies:
            h3.max-60.center "Music is so important when you’re training, warming up. I have a playlist I listen to when I’m in competition, cooling down, stretching. It varies from Bob Marley to Diplo to Drake to Chris Brown. When I’m in competition I like to hear a lot of bass, a beat. I don’t care about the words too much, I just care about how it makes me feel"
            p Red Bull article featuring British Fencer Miles Chamley-Watson
        .footer-container.flex-row
            img.hide.max-50(src="/imgs/footer_1.png", alt="")
            img.max-50(src="/imgs/footer_2.png", alt="")



        script(src='/js/bundle.js')
