/* VARIABLES */

:root {
  --dark-teal: #022730;
  --light-teal: #5fb9b6;
  --hero-teal: #277d94;
  --light-grey: #e6ebed;
  --font-light: "NeurialGrotesk-Light", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-regular: "NeurialGrotesk-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-medium: "NeurialGrotesk-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-bold: "NeurialGrotesk-Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* GLOBAL STYLING */

body {
  font-size: 1rem;
  font-family: var(--font-regular);
  color: var(--dark-teal);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-bold);
  letter-spacing: 0.031875rem;
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-family: var(--font-medium);
  font-weight: 400;
  letter-spacing: 0.0225rem;
  font-size: 2.5rem;
  margin: 0;
}

h3 {
  font-family: var(--font-medium);
  /* font-weight: lighter; */
  letter-spacing: 0.0225rem;
  font-size: 1.75rem;
  margin: 0;
}

p {
  /* font-family: var(--font-regular); */
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.0225rem;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* SPACING - MARGINS */

.center {
  margin-left: auto;
  margin-right: auto;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.mb-200 {
  margin-bottom: 6.875rem;
}

.mlr-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.mlr-147 {
  margin-left: 9.1875rem;
  margin-right: 9.1875rem;
}

.mt-100 {
  margin-top: 6.875rem;
}

.mtb-80 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mtb-100 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

/* SPACING - PADDING */

.plr-147 {
  padding-left: 9.1875rem;
  padding-right: 9.1875rem;
}

.ptb-80 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ptb-90 {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

/* WIDTHS */

.max-4 {
  max-width: 27.75rem;
}

.max-5 {
  max-width: 35rem;
}

.max-8 {
  max-width: 57rem;
}

.max-10 {
  max-width: 71.625rem;
}

.max-50 {
  max-width: 50%;
}

/* DISPLAY */

.align-center {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}

/* TEXT POSITIONING */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* TEXT APPEARANCE */

.bold {
  font-family: var(--font-bold);
}

.semi-bold {
  font-family: var(--font-medium);
}

.text-dark-teal {
  color: var(--dark-teal);
}

.text-white {
  color: white;
}

/* BACKGROUND COLOR */

.bg-teal {
  background-color: var(--dark-teal);
}

/* MODIFIERS */

.hidden {
  display: none;
}

.active {
  display: block;
}

.show {
  display: none;
}

/* COMPONENTS */

.animated-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.experience-container h3 {
  font-size: 1.75rem;
}

.experience-container p {
  text-transform: uppercase;
}

.flow-bother-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flow-key-markers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 42px;
}

.flow-key-markers__block img {
  height: 80px;
  width: 80px;
}

.hero-container {
  background-color: var(--hero-teal);
  position: relative;
}

.hero-container img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 100%;
}

.hero-signoff__text img {
  width: 15.125rem;
  border-radius: 0;
}

.improve-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title img"
    "text img";
  grid-column-gap: 1.5rem;
}

.improve-container__title {
  grid-area: title;
  align-self: end;
}

.improve-container__text {
  grid-area: text;
  align-self: start;
}

.improve-container__image {
  grid-area: img;
  justify-self: right;
}

.improve-container:nth-child(odd) {
  grid-template-areas:
    "img title"
    "img text";
}

.improve-container:nth-child(odd) .improve-container__image {
  grid-area: img;
  justify-self: left;
}

.improve-container__relax {
  background-color: var(--dark-teal);
  color: white;
}

.improve-container__relax .improve-container__image {
  position: relative;
}

.improve-container__relax .improve-container__image::after {
  display: block;
  position: absolute;
  top: 0%;
  background: var(--dark-teal);
  background: var(--dark-teal);
  background: radial-gradient(
    circle,
    rgba(2, 39, 48, 0) 0%,
    rgba(2, 39, 48, 0) 50%,
    rgba(2, 39, 48, 1) 65%,
    rgba(2, 39, 48, 1) 100%
  );
  height: 100%;
  width: 100%;
  content: "";
}

.video-container {
  background-color: var(--dark-teal);
  color: white;
  margin: 100px auto 100px;
  padding: 80px 0;
}

.video-container p {
  padding-top: 454px;
}

.wave-container__titles p {
  cursor: pointer;
  opacity: 50%;
  flex-basis: 33.33%;
  padding-bottom: 1rem;
}

.wave-container__titles p:hover {
  opacity: 100%;
}

.wave-container__titles p.active {
  opacity: 100%;
  border-bottom: 2px solid var(--light-teal);
}

/* ANIMATION CONTAINERS */

.animation-container {
  width: 18.75rem;
  height: 18.75rem;
}

#a1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#a2 {
  width: 135px;
  height: 76px;
  margin: 0 auto 64px;
}

/* TESTING */

.new-flow-bother-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-flow-bother-card {
  /* height: 100vh; */
}

.new-flow-bother-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
  /* height: 100vh; */
  /* position: sticky;
  top: 0; */
}

.new-flow-bother-grid__img-container {
  /* position: relative; */
  /* z-index: -1; */
}

.new-flow-bother-grid img {
  /* position: sticky; */
  height: 100vh;
  object-fit: cover;
}

.new-flow-bother-grid__left {
  align-self: center;
}

.new-flow-bother-container .new-flow-bother-grid:nth-child(2) {
  background-color: var(--dark-teal);
  color: white;
}

.new-flow-bother-container .new-flow-bother-grid:nth-child(3) {
  background-color: var(--light-grey);
}
.new-flow-bother-container
  .new-flow-bother-grid:nth-child(3)
  .new-flow-bother-grid__img-container {
  background-color: var(--light-grey);
}

.new-flow-bother-container
  .new-flow-bother-grid:nth-child(4)
  .new-flow-bother-grid__img-container {
  background-color: white;
}

.new-flow-bother-container .new-flow-bother-grid:last-child {
  background-color: var(--light-grey);
}

.new-flow-bother-container
  .new-flow-bother-grid:last-child
  .new-flow-bother-grid__img-container {
  background-color: var(--light-grey);
}

.new-flow-bother-container {
  display: flex;
  transition: 0.4s all;
}

.new-flow-bother-container-text-container {
  margin-top: 200px;
  flex-basis: 50%;
  flex-grow: 1;
}

.new-flow-bother-text {
  padding-bottom: 300px;
}

#flow-bother-img {
  height: 80vh;
  object-fit: contain;
  flex-basis: 50%;
  object-position: left;
  position: sticky;
  top: 20vh;
}

@media screen and (max-width: 768px) {
  /* GLOBAL STYLING */

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.25rem;
  }

  /* SPACING - MARGINS */

  .mb-32-mob {
    margin-bottom: 2rem;
  }

  .mb-80 {
    margin-bottom: 2.5rem;
  }

  .mtb-80 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .mlr-16-mob,
  .mlr-30,
  .mlr-147 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* SPACING - PADDING */

  .plr-147 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* WIDTHS */

  .max-4,
  .max-5,
  .max-8,
  .max-10,
  .max-50 {
    max-width: 100%;
  }

  /* DISPLAY */

  .justify-around,
  .justify-between {
    justify-content: center;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  /* COMPONENTS */

  .experience-container h3 {
    font-size: 1rem;
  }

  .flow-key-markers__container {
    grid-template-columns: 1fr;
  }

  .hero-container,
  .experience-container {
    padding: 1rem;
  }

  .iris-impact-container {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column-reverse;
  }

  .improve-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "img"
      "text";
    row-gap: 1rem;
  }

  .improve-container:nth-child(odd),
  .improve-container__relax {
    grid-template-areas:
      "title"
      "text"
      "img";
  }

  .improve-container h3 {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  .wave-container {
    margin-bottom: 0;
  }

  /* ANIMATION CONTAINERS */

  .animation-container {
    width: 16.25rem;
    height: 16.25rem;
    margin-bottom: 2rem;
  }

  /* TESTING */

  .new-flow-bother-text {
    padding-bottom: 0;
    /* margin-bottom: 0; */

    /* height: 100vh; */
  }

  .new-flow-bother-container-text-container {
    margin-top: auto;
  }

  .new-flow-bother-container-text-container p {
    /* padding: 0 1rem 2.5rem; */
    padding-bottom: 2.5rem;
  }

  .new-flow-bother-container-text-container h3 {
    /* padding: 2.5rem 1rem 0; */
    padding-top: 2.5rem;
  }

  .new-flow-bother-container img {
    /* grid-area: img; */
    /* height: 80vh; */
    /* max-width: 100%; */
    /* object-fit: cover;
    object-position: left;
    position: sticky;
    top: 20vh; */
  }

  #flow-bother-img {
    display: none;
  }
}
