/* VARIABLES */

:root {
  --dark-teal: #022730;
  --light-teal: #5fb9b6;
  --hero-teal: #277d94;
  --light-grey: #e6ebed;
  --font-light: "NeurialGrotesk-Light", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-regular: "NeurialGrotesk-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-medium: "NeurialGrotesk-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-bold: "NeurialGrotesk-Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* GLOBAL STYLING */

body {
  font-size: 1rem;
  font-family: var(--font-regular);
  color: var(--dark-teal);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-bold);
  letter-spacing: 0.031875rem;
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-family: var(--font-medium);
  font-weight: 400;
  letter-spacing: 0.0225rem;
  font-size: 2.5rem;
  margin: 0;
}

h3 {
  font-family: var(--font-medium);
  /* font-weight: lighter; */
  letter-spacing: 0.0225rem;
  font-size: 1.75rem;
  margin: 0;
}

p {
  /* font-family: var(--font-regular); */
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.0225rem;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* SPACING - MARGINS */

.center {
  margin-left: auto;
  margin-right: auto;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.mb-200 {
  margin-bottom: 6.875rem;
}

.mlr-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.mlr-147 {
  margin-left: 9.1875rem;
  margin-right: 9.1875rem;
}

.mt-100 {
  margin-top: 6.875rem;
}

.mtb-80 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mtb-100 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

/* SPACING - PADDING */

.plr-147 {
  padding-left: 9.1875rem;
  padding-right: 9.1875rem;
}

.ptb-80 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ptb-90 {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

/* WIDTHS */

.max-4 {
  max-width: 27.75rem;
}

.max-5 {
  max-width: 35rem;
}

.max-8 {
  max-width: 57rem;
}

.max-10 {
  max-width: 71.625rem;
}

.max-50 {
  max-width: 50%;
}

/* DISPLAY */

.align-center {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}

/* TEXT POSITIONING */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* TEXT APPEARANCE */

.bold {
  font-family: var(--font-bold);
}

.semi-bold {
  font-family: var(--font-medium);
  font-weight: 500;
}

.text-dark-teal {
  color: var(--dark-teal);
}

.text-white {
  color: white;
}

.larger {
  font-size: 1.5rem;
}

/* BACKGROUND COLOR */

.bg-teal {
  background-color: var(--dark-teal);
  position: relative;
  z-index: 1;
}

.bg-white {
  background-color: white;
  position: relative;
  z-index: 1;
}

.bg-gray {
  background-color: var(--light-grey);
  position: relative;
  z-index: 1;
}

/* CARDS */

.card {
  display: flex;
  flex-wrap: wrap;
}

.card__half-width-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card__full-width-container {
  margin-top: 5rem;
}

.card--animated {
  justify-content: space-between;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.card__img {
  width: 50%;
  align-self: flex-start;
}

.card__text-container {
  height: 600px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__text {
  width: 35rem;
}

.card__half-width {
  width: 71.625rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card__half-width {
  margin-bottom: 5rem;
}

.card__half-width:last-child {
  margin-bottom: 0;
}

.card__full-width {
  height: 600px;
  position: relative;
  background-color: white;
}

.card__full-width-img {
  height: 700px;
}

.card:nth-child(odd) img {
  object-position: 0 100%;
}

.card:nth-child(even) img {
  object-position: 100% 100%;
}

.flow-bother-card:nth-child(2) {
  background-color: var(--dark-teal);
  color: white;
}

.flow-bother-card:nth-child(3) {
  background-color: var(--light-grey);
}

.flow-bother-card:nth-child(5) {
  background-color: var(--light-grey);
}

.improve-card:nth-child(3) {
  background-color: var(--dark-teal);
  color: white;
}

/* COMPONENTS */

.flow-key-markers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 42px;
}

.flow-key-markers__block img {
  height: 80px;
  width: 80px;
}

.hero-container {
  background-color: var(--hero-teal);
  position: relative;
}

.hero-container img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 100%;
}

.hero-signoff__text img {
  width: 15.125rem;
  border-radius: 0;
}

.key-markers__title {
  background-color: white;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.video-container {
  position: relative;
  z-index: 1;
}

/* ANIMATION CONTAINERS */

.animation-container {
  width: 18.75rem;
  height: 18.75rem;
}

#a1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#a2 {
  width: 135px;
  height: 76px;
  margin: 0 auto 64px;
}

@media screen and (max-width: 768px) {
  /* GLOBAL STYLING */

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.25rem;
  }

  /* SPACING - MARGINS */

  .mb-24 {
    margin-bottom: 1rem;
  }

  .mb-32-mob,
  .mb-48 {
    margin-bottom: 2rem;
  }

  .mb-80 {
    margin-bottom: 2.5rem;
  }

  .mtb-80,
  .mtb-100 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .mlr-16-mob,
  .mlr-30,
  .mlr-147 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* SPACING - PADDING */

  .plr-147 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ptb-80 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  /* WIDTHS */

  .max-4,
  .max-5,
  .max-8,
  .max-10,
  .max-50 {
    max-width: 100%;
  }

  /* DISPLAY */

  .justify-around,
  .justify-between {
    justify-content: center;
  }

  /* TEXT APPERANCE */

  .larger {
    font-size: 1rem;
  }

  .smaller {
    font-size: 0.875rem;
  }

  /* CARDS */

  .card__full-width,
  .card__half-width,
  .card__img,
  .card__text-container,
  .card__text {
    height: auto;
    width: auto;
  }

  .card {
    justify-content: center;
  }

  .card__half-width-container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .card__full-width-container {
    margin-top: 0;
  }

  .card__img {
    order: 2;
  }

  .card__text {
    margin: 0 1rem 2.5rem;
  }

  .card__half-width {
    margin-bottom: 2.5rem;
  }

  .card__full-width {
    padding-top: 2.5rem;
  }

  /* COMPONENTS */

  .experience-container h3 {
    font-size: 1rem;
  }

  .flow-key-markers__container {
    grid-template-columns: 1fr;
  }

  .hero-container,
  .experience-container {
    padding: 1rem;
  }

  .iris-impact-container {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column-reverse;
  }

  .key-markers__title {
    padding: 2.5rem 1rem;
  }

  /* ANIMATION CONTAINERS */

  .animation-container {
    width: 16.25rem;
    height: 16.25rem;
    margin-top: 2rem;
    order: 2;
  }
}
